/* form elements */
input[type="text"],
input[type="search"],
input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"]
.form-search,
.form-text,
select,
textarea {
    padding: 5px 10px;
    color: #6e6e6e;
    display: block;
    margin: 3px 0 0;
    border: 1px solid #6e6e6e;
    transition: all 0.3s;
}
input[type="text"]:focus,
input[type="search"]:focus {
    border: 1px solid #16a085;
}
input[type="search"] {
    display: inline-block;
}
label {
    text-transform: uppercase;
    color: #3e3e3e;
    letter-spacing: 0.05em;
}
label.form-required:after {
    content: "*";
    color: #c0392b;;
    font-size: 16px;
}
input[type="submit"],
.btn {
    background: #ffffff;
    border: 1px solid #16a085;
    padding: 5px 20px;
    color: #6e6e6e;
    cursor: pointer;
    transition: all 0.3s;
}
input[type="submit"]:hover,
.btn:hover {
    background: #16a085;
    color: #fefefe;
}
.form-actions {
    margin: 10px 0;
}
form.contact-form textarea {
    padding: 5px 7px;
}
#block-ven-content > form,
#block-ven-content > article:not(.article) {
    padding: 10px;
    background: #ffffff;
}
.form-item {
    margin-bottom: 10px;
}
.description {
    font-size: 12px;
    color: #6e6e6e;
}

/* search block form */
.search-block-form .form-search,
.search-block-form .form-item,
.search-block-form .form-actions {
    display: inline-block;
}